.GameModeButton {
  border-width: 0px;
  height: 200px;
  outline: none;
  width: 300px;
  vertical-align: "top";
  margin: 30px;
  border-radius: 20px;
  box-shadow: 4px 4px rgb(195, 194, 194);
}

.GameModeButton:active {
  outline: none;
  box-shadow: 2px 2px rgb(195, 194, 194);
}

.GameModeButton:focus {
  outline: none;
}

.GameModeImage {
  height: 90px;
  width: 90px;
}

.GameModeText {
  font-size: 20px;
  font-family: "Carter One";
  margin-top: 30px;
}
